body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 500px;
  background: #fff;
  margin: 16px auto;

}

.title {
  background: #e3f4ff;
  font-size: 24px;
  padding: 8px;
  margin-bottom: 8px;
}

.content {
  background: #e3f4ff;
  font-size: 20px;
  padding: 18px 16px;
  margin-bottom: 8px;
}

.button-container {
  background: #e3f4ff;
  text-align:center;
  padding: 8px;
  font-size: 18px;
}

button {
  display:block;
  margin: 0 auto;
  padding: 20px 30px;
  background: white;
  border: 1px solid #eee;
  font-size: 18px;
}